html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* disables scrolling */
  touch-action: none; /* disables browser gestures (swipe-to-refresh etc.) */
}

.layout {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

h1 {
  margin: 0;
}
